body{
    font-family: Arial, sans-serif;
}

.control-point{
    fill:red;
    cursor: pointer;
}
.line {
    stroke: black;
    stroke-width: 2px;
    cursor: ew-resize;
}

.curve {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.segment {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.reset-button {
    fill: #f0f0f0;
    cursor: pointer;
}

#colorPicker {
    height: 200px;
    width: 50px;
    cursor: crosshair;
    margin-right: 10px;
}