<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volume Rendering Controls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Volume Rendering Controls</h1>
            <form class="message-form" action="{{ url_for('main.submit') }}" method="post">
                <input type="text" id="message" name="message" placeholder="Enter message" required>
                <button type="submit">Send</button>
            </form>
        </header>
        <div class="main-content">
            <div class="panel left-panel"></div>
            <div class="panel center-panel">
                <div class="editor-container">
                    <div class="opacity-container">
                        <div class="opacity-header">
                            <h5>Transfer Function Editor</h5>
                            <div class="opacity-controls">
                                <button id="opacityMinusButton">-</button>
                                <button id="opacityRemoveAllButton">Remove All</button>
                            </div>
                        </div>
                        <svg id="opacityEditor" width="500" height="200"></svg>
                    </div>
                    <div id="colorEditor"></div>
                    <div class="color-controls">
                        <input type="color" id="colorPicker">
                        <button id="deleteDividerButton">-</button>
                        <button id="removeAllButton">Remove All</button>
                    </div>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="background-color-container">
                    <label for="bgColorPicker">Background Color:</label>
                    <input type="color" id="bgColorPicker" value="#000000">
                </div>

                <!-- New box for Shading and Interpolation Type -->
                <div class="render-options-container">
                    <label>
                        Shading: <input type="checkbox" id="shadingCheckbox" checked> 
                    </label>
                    <div>
                        <label for="interpolationType">Interpolation Type:</label>
                        <select id="interpolationType">
                            <option value="Linear">Linear</option>
                            <option value="Nearest">Nearest Neighbour</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const socket = new WebSocket("ws://localhost:5000/connect");

        const intensityRange = [0, 4095];

        window.controlPoints = [
            { id: 1, x: intensityRange[0], y: 0 },
            { id: 2, x: intensityRange[1], y: 1 }
        ];
        window.lineColors = [];

        function scalePositionToIntensity(position) {
            const intensityMin = intensityRange[0];
            const intensityMax = intensityRange[1];
            return (position / sliderWidth) * (intensityMax - intensityMin) + intensityMin;
        }

        function sendControlPoints() {
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify(
                    {
                        controlPoints: window.controlPoints.map(p => ({ value: p.x, opacity: p.y }))
                    }
                ));
            }
        }

        function sendColorStops() {
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify(
                    {
                        colorStops: window.lineColors.map(({ line, color }) => ({
                            position: scalePositionToIntensity(parseFloat(line.style("left"))),
                            color: color
                        }))
                    }
                ));
            }
        }

        window.sendColorStops = sendColorStops;
        window.sendControlPoints = sendControlPoints;

        // Background color
        const bgColorPicker = document.getElementById("bgColorPicker");
        bgColorPicker.addEventListener("input", (event) => {
            const color = event.target.value;
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({ bgColor: color }));
            }
        });

        // Shading checkbox
        const shadingCheckbox = document.getElementById("shadingCheckbox");
        shadingCheckbox.addEventListener("change", () => {
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({ shading: shadingCheckbox.checked }));
            }
        });

        // Interpolation type dropdown
        const interpolationTypeDropdown = document.getElementById("interpolationType");
        interpolationTypeDropdown.addEventListener("change", () => {
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({ interpolationType: interpolationTypeDropdown.value }));
            }
        });

        // Logging
        socket.onopen = function () {
            console.log("WebSocket connection established");
        };
        socket.onclose = function () {
            console.log("WebSocket connection closed");
        };
        socket.onerror = function (error) {
            console.error("WebSocket Error:", error);
        };
    </script>

    <script src="{{ url_for('static', filename='js/opacityEditor.js')}}"></script>
    <script src="{{ url_for('static', filename='js/colorEditor.js')}}"></script>
</body>
</html>
